[Unit]
Description=huronOS sync service

[Service]
User=root
Group=root
ExecStart=/usr/lib/hsync/hsync.downloader
Restart=always

[Install]
WantedBy=multi-user.target
