[Desktop Entry]
Type=Application
Name=Ruby Documentation
Comment=Ruby Programming Language Documentation
Icon=accessories-dictionary-symbolic
Exec=open /usr/share/doc/ruby-documentation/index.html
Categories=Reference;
NoDisplay=false
