[Unit]
Description=huronOS sync service
Wants=connman.service
Wants=systemd-timedated.service
After=hsync.service

[Service]
User=root
Group=root
ExecStart=/usr/lib/hsync/happly.sh --scheduled-apply
ExecStopPost=/usr/lib/hsync/hsync-post.sh
Restart=on-abnormal
SuccessExitStatus=0
