[Unit]
Description=Timer to download new huronOS directives
After=network-online.target time-sync.target

[Timer]
AccuracySec=1s
OnUnitInactiveSec=60s
OnBootSec=1s
OnClockChange=false
OnTimezoneChange=false

[Install]
WantedBy=display-manager.target
