[Unit]
Description=huronOS sync service

[Service]
User=root
Group=root
ExecStart=/usr/lib/hsync/hsync.downloader
Restart=on-failure
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
