[Unit]
Description=Set IP address on the first interface that has ping to the directives server
After=network.target

[Service]
ExecStart=/usr/sbin/ipman
Restart=on-failure
RestartSec=10
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
