[Desktop Entry]
Type=Application
Exec=kdevelop
MimeType=
Icon=/usr/share/icons/hicolor/scalable/apps/kdevelop.svg
X-DocPath=kdevelop/index.html
Actions=OpenSession;
Terminal=false
StartupWMClass=kdevelop
Name=KDevelop
GenericName=Integrated Development Environment
Categories=Programming;
NoDisplay=false

[Desktop Action OpenSession]
Name=Open a Session
Exec=kdevelop --ps
