[Desktop Entry]
Version=1.1
Type=Application
Name=C Documentation
Comment=C Programming Language Documentation
Icon=accessories-dictionary-symbolic
Exec=open /usr/share/doc/reference/c/en/c.html
Categories=Reference;
NoDisplay=false
