[Desktop Entry]
Name=VisualVM
Comment=All-in-One Java Troubleshooting Tool
Keywords=java;jvm;profiler;monitoring
Exec=visualvm
Icon=visualvm
Terminal=false
Type=Application
Categories=Programming;
