[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=dialect
Name=Dialect
Comment=Translate between languages
Categories=Network;
Icon=app.drey.Dialect
Keywords=translate;translation;
X-Purism-FormFactor=Workstation;Mobile;